.menu-item {
    min-width: 30%;
    height: 350px;
    width: 400px;
    border-radius: 0.75rem;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
    
    &:hover{
      cursor: pointer;
      & .background-image{
        transform: scale(1.5);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
      &.content{
        opacity: 0.9;
      }
    }
  
    &.large{
      height: 380px;
      width: 100%;
    }

    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    .background-image{
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;

    }
  
    .content-cart {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: white;
      opacity: 0.7;
      position: absolute;
      border:none;

      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }

    * {
        box-sizing: border-box;
      }
    .paddingtop{
        padding-top: 20px;
        box-shadow: 7px 5px 17px 0px grey;
    }
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: auto; 
        
      }
      .row{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }


    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 0px solid #ddd;
      }

      .button {
        background-color: #638163;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .margin{
          margin-top: 50px;
      }
      .height{
          height: 50px;
      }

      .test{
          margin-top: 10px;
          margin-left: 0px;
          padding-left: 0px;
      }

      .card {
        //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 60%;
        //display: block;
        flex-direction: unset;
      }
            
      .containerss {
        padding: 2px 16px;
      }

      .total-table{
        width: 50%;
        box-shadow: 7px 6px 18px grey;

        .total-tr{
          box-shadow: 1px -3px 20px 0px grey;;
        }
      }

      .total-bill-div{
        justify-content: center;
        display: flex;
      }