.header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: flex;
    background-color: #638163;
    // margin-bottom: 25px;

    .logo-container{
        height: 100%;
        width: 70px;
        padding-top: 10px;

        .logo{
            width: 80px;
            height: 50px;
        }

        .bag{
            width: 20px;
            height: 50px;
        }
    }

    .options{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        
        .option{
            padding: 10px 15px;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
        
    }
    .lefty{
        justify-content: flex-start;
    }
}


#lblCartCount {
    font-size: 12px;
    background: #01421c;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}